# ROOT files
*.root
# ouput files (plots etc)
outputs/

# pycache
extras/check_tagging_performance/__pycache__/
analysis/__pycache__/
analysis/exclusive_HWW/__pycache__/
analysis/exclusive_Hjj/__pycache__/
analysis/exclusive_Hjj/jettagscore_scan/__pycache__/
analysis/exclusive_HWW/BDT/__pycache__/
analysis/exclusive_HWW/qqlv/BDT/__pycache__/
analysis/exclusive_HWW/lvqq/__pycache__
extras/__pycache__/
analysis/exclusive_HWW/lvqq/BDT/__pycache__/
analysis/exclusive_HWW/qqlv/__pycache__/

# dummy test folder
test